html, body{
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
}
#myCanvas{
  width: 100%;
  height: 100%;
  background-color: white;
}
.opciones{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 10vw;
  
  left: 3.5%;
  border-right: none;
}

.basurita{
  position: absolute;
  bottom: 0%;
  background-color: red;
  width: 100%;
  height: 4%;
  z-index: 10;
}

.basurita span{
  padding-left: 49%;
  padding-top: 0.5%;
}


.iconos button{
  background-color: #ff7702;
  margin: 0%;
  width: 100%;
  height: 10%;
}

.texto{
  background-color: rgb(219, 230, 226);
  position: absolute;
  width: 15%;
  border: #ff7702 1px dashed;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  padding: 1%;
  display: none;
}

.opciones .opcion{
  height: 25vh;
  background-color: rgb(207, 206, 206);
  outline:  0.2vh solid black;
  padding: 10%;
  display: none;


}

.opcion *{
  margin: 3% 0%;
}

input[type="color" i]{
  width: 100% !important;
}

.habilitado {
  display: block;
}

.imagen{
  position: absolute;
  z-index: 100;
}

.centro{
  left: 30%;
  top: 30%;

}



.grid{
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  grid-template-rows: 15% 15% 15% 15% 15%;
  gap: 5%;
  height: min-content;
}

.flexi{
  display: flex;
  flex-direction: row;
  height: 5vh;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

.iconos{
  position: absolute;
  left: 0%;
  width: 3.5%;
  height: 100%;
  background-color: #ff7702;
  z-index: 100;
  
}

.conf{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.input-fig{
  background-color: #fff;
  border-color: #fff;
}


.diez{
  height: 100px;
  width: 100px;
  background-color: black;
}

.borrador{
  background-color: rgb(228, 166, 132);
  position: absolute;
  display: none;
}

.ventana{
  width: 40%;
  position: absolute;
  left: 30%;
  height: 40%;
  background-color: white;
  z-index: 1000;
  display: none;
  top: 30%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 2%;
}

.ventana-small{
  width: 30%;
  position: absolute;
  left: 35%;
  background-color: white;
  z-index: 1001;
  display: none;
  top: 40%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 2%;
}

.desplegar{
  display: none;
}

.conf-opc{
  display: flex;
  flex-direction:row;
}

.cerrar{
  right: 4%;
  position: absolute;
  border: none;
  background-color: #fff;
  font-size: large;
}

.preguntas{
  overflow-y: scroll;
}

.check{
  margin-top: 3%;
}

.seleccion{
  position: absolute;
 
  left: 10%;
  background-color: transparent;
  top: 0%;
  border: 10px dashed #ff7702;
  display: none;
}

.opc{
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 10%;
  margin-left: 90%;
  display: hidden;
}

.opc *{
  height: 50%;
}
.done{
  background-color: #ff7702;
}

.descartar{
  background-color: red;
}
